@charset "UTF-8";

img#base {
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
}

img#loja {
    display: block;
    position: absolute;
    margin-top: -300px;
    margin-left: 300px;
}